NODE_ENV=production

POSTGRES_DB=nomepierdo
POSTGRES_USER=nomepierdo
POSTGRES_PASSWORD=CAMBIAR_PASSWORD_FUERTE

DATABASE_URL=postgresql://nomepierdo:CAMBIAR_PASSWORD_FUERTE@db:5432/nomepierdo?schema=public

AUTH_SECRET=CAMBIAR_SECRET_LARGO_Y_ALEATORIO

NEXT_PUBLIC_APP_URL=https://nomepierdo.mmatdev.com

GOOGLE_CLIENT_ID=TU_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=TU_GOOGLE_CLIENT_SECRET

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-password-de-aplicacion
